@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html,
body {
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: flex;
  justify-content: right;
  padding: 50px 10px;
}

.nav,
a {
  padding: 10px 10px;
}

.nav .main-page {
  font-size: 18px;
}
